/*********Tag Selector**********/

body{
    color: rgb(51, 51, 51);
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif; 
    background-color: rgba(235, 208, 176, 0.219);   
}

h1{
    font-weight: normal;
    margin: 0px;
    padding-top: 125px;
    font-family: 'Montez', cursive;
    font-size: 6.625em;
    color: #DC4C20;
    text-shadow: #000000cb 1px 1px, #000000cb -1px 1px, #000000cb -1px -1px, #000000cb 1px -1px;
}

h2{
    font-family: 'Calligraffitti', cursive;
    color:#DC4C20;
    font-size: 3.2em;
    font-weight: normal;    
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgb(221, 86, 45);
    padding-top: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

h4{
    font-family: 'Montserrat Alternates', sans-serif;
    color:black;
    font-size: 1.2em;
    
}

header{
    background-image: url(../images/decor3reduction.jpg);
    background-size: cover;
    height: 750px;
    align-items: center;
    margin: 0; 
    border-bottom: solid 2px #DC4C20;
}



footer{
    background-color:#EBCEB0;
    padding: .5rem 1rem;
    text-align: center;
    font-size: .8rem;
}

hr{
    border:none ;
    border-radius: 5px;
    height: 2px;
    background-image: linear-gradient(to right,  rgba(235, 209, 176, 0.103), #DC4C20,
    rgba(235, 209, 176, 0.103));
    width: 30%;
    margin: 100px auto;  
}

p{
    line-height: 2
}

a{
    color: rgb(224, 55, 3);
    text-decoration: none;
   
}

a:hover{
    color:rgb(90, 23, 2);
}

/**************************Menu***************************************/

/* couleur de fond de la navbar, fixé ou non, sens etc*/
.topnav {
    background-color: rgb(235, 206, 176);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  /* organisation de la navbar, position des liens, couleur ... */
  .topnav a {
    float: left;
    display: block;
    color: #DC4C20;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* couleur au survol des liens de la navbar */
  .topnav a:hover {
    color: black;
  }
  
  /* Page actuelle surlignée*/
  .topnav a.active {
    color: black;
  }
  
  /* cache le menu hamberger sur grand écran */
  .topnav .icon {
    display: none;
  }

  /* Quand l'écran passe sous les 600px fait apparaitre le menu hamberger */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* rend responsive le menu sortant du hamberger */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
/*********TAG CLASS*********/


.underline{
    text-decoration: underline red;
}

.me{
    border-radius: 50%;
    width: 170px;
    margin: 60px;
    border: solid 1px black;
}

.chat{
    padding-top: 70px;
    padding-bottom: 30px;  
}

.bonjour{
    width: 60%;
    margin: auto;
}

.row{
    width: 60%;
    margin: 0px auto 100px auto;
    text-align: left;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	padding: 10px 30px;
    margin: 20px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	color: #FFF;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;	
}


.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

/* Bouton de téléchargement du cv */

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.btncv{
    padding-top: 50px;
}
/*Soft Skills */
.techs-list {
    padding: 20px 0 20px 0;
    text-align: center;
}

.techs-list li {
    display: inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color:#DC4C20;
    background:#EFDFCF;     
}
/*----------------------*/

.contact{
    background-color: #EFDFCF;
    padding-bottom: 15px;
    padding-top: 15px;   
}

.copy{
    color: white;
}

.twitter{
    width: 50px;
    margin: 10px;
}

.twitter:hover{
    color: black;
    opacity: 50%;
}

.linkedin{
    width: 50px;
    margin: 10px;
}

.linkedin:hover{
    color: black;
    opacity: 50%;
}

.gitlab{
    width: 50px;
    margin: 10px;
}

.gitlab:hover{
    color: black;
    opacity: 50%;
}

.html5{
    padding-top: 20px;
    float: left;
    margin-right: 30px;    
}

.css3{
    padding-top: 20px;
    float: left;
    margin-right: 30px;    
}

.wordpress{
    padding-top: 22px;
    float: left;
    margin-right: 30px;    
}

.javascript{
    padding-top: 20px;
    float: left;
    margin-right: 30px;    
}
.php{
    padding-top: 20px;
    float: left;
    margin-right: 30px;    
}

#langfr{
    margin-left: 15px;
}

#langfr:hover{
    opacity: 50%;
}

#languk{
    margin-left: 15px;
}
#languk:hover{
    opacity: 50%;
}


/********************************* Barre de progression ************************************/

.progress {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);   
}

.progress-bar {
    padding-bottom: 5px;
    width: 80%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #FA502E;
}

/******Animation des barres *******/
.progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
/*********************************Barre2**************************************************/
.progress2 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);
    
}

.progress-bar2 {
    padding-bottom: 5px;
    width: 70%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #2196F3;
}

/******Animation des barres *******/
.progress-bar2 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped2 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*********************************Barre3**************************************************/
.progress3 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);  
}

.progress-bar3 {
    padding-bottom: 5px;
    width: 60%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #161616;
}

/******Animation des barres *******/
.progress-bar3 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped3 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*************************barre4*******************************************/
.progress4 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);  
}

.progress-bar4 {
    padding-bottom: 30px;
    width: 20%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #FFDA3E;
}

/******Animation des barres *******/
.progress-bar4 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped4 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*************************barre5*******************************************/
.progress5 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);   
}

.progress-bar5 {
    padding-bottom: 30px;
    width: 25%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: rgb(38, 40, 180);
}

/******Animation des barres *******/
.progress-bar5 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped5 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}


  /* création des colonnes pour la galerie d'image du portfolio */
  .column {
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    -ms-flex: 25%; /* IE10 */
  }
  .row2 {
    display: flex;
    flex-wrap: wrap;  
    text-align: right;
    display: inline-block;
    text-align: center;
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  
  /* Responsive - quatres colonnes */
  @media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
    display: inline-block;
    text-align: center;
}
}
  
  /* Responsive - deux colonnes  */
  @media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%; 
    display: inline-block;
    text-align: center; 
    }
}

.column img:hover{
    opacity: 0.8;
}